

.table {
    border-collapse: collapse;
    border: solid 1px black;
}

.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;    
}
.description,.account,.amount, .entity, #transactionDate,#clearedDate,button
{
  font-size:15px;
}
div.inline{
    display:inline;
}
.button {
        background-color: #000000;
        color: #FFFFFF;
        padding: 1px;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        margin:1px;
        display:inline-block;          
    }
    
    .small-btn {
        width: 24px;
        height: 22px;
    }
    
    .negative
    {
      background-color: #cb2027;
    
    }
    .positive
    {
      background-color: #a4c639
    }

.account {
    width:300px;    
}

.amount{
    width:75px;
}
.debit{
    width:75px;
}
.credit{
    width:75px;
}

.type{  
  display: inline-block;
  width: 50px;
}
.status
{
  display:inline-block;
  
}

.line-id{  
  
}



input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}