.table {
    border-collapse: collapse;

    border: solid 1px black;
}

.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;    
}

.account {
    width:250px;
}
.amount{
    width:75px;
}
.debit{
    width:75px;
}
.credit{
    width:75px;
}
.description{

}
.type{  
  display: inline-block;
  width: 50px;
}
.status
{
  display:inline-block;
  
}

.line-id{  
  
}